{% extends "layout.html"%}

{% block body %}

<h1 style="color: blue; text-align: center;">Welcome to the ICC App </h1>

<hr>
<span style="color:red">
<h1>Countries and Players</h1>

</span>
<hr>
{% for country in all_countries %}
<span style="color: blue;"> 
   
<h2>Country ID: {{ country["id"] }}</h2><br>
Country Name: {{ country["country_name"] }}<br>
<button type="button" onclick="window.location.href='{{ url_for('add_country', id=country.id) }}';">Add Country </button> 
<button type="button" onclick="window.location.href='{{ url_for('delete_country', id=country.id) }}';">Delete Country </button>
<button type="button" onclick="window.location.href='{{ url_for('update_country', id=country.id) }}';">Update Country </button><br>
<he><hr>
<h3>Players of {{country["country_name"]}} are:</h3>
    {% for player in country["players"] %}       
        {{ player["player_name"] }}
    {% endfor %}
</span>
{% endfor %} 
{% endblock body %}