<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
      <title>ICC App App - {{title}}</title>
        
    </head>
    <body style="background-color:rgb(92, 255, 71)";>
        <h1>ICC App - {{title}}</h1>
        <button type="button" onclick="window.location.href='{{ url_for('add_country', id=country.id) }}';">Add Country </button>
        <button type="button" onclick="window.location.href='{{ url_for('add_player', id=player.id) }}';">Add Player</button>
        <!-- <a href="{{ url_for('add_country') }}">Add Country</a>
        <a href="{{ url_for('add_player') }}">Add Player</a> -->
        {% block body %}
        {% endblock body %}
    </body>
    </html>